<!DOCTYPE html>
<html ng-app="contacts">

  <head >
  <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script data-require="angular.js@1.4.1" data-semver="1.4.1" src="http://code.angularjs.org/1.4.1/angular.js"></script>
    <script data-require="bootstrap@*" data-semver="3.3.2" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <script src="angular-md5.js"></script>
  </head>

  <body ng-controller="ContactsCtrl">
    <div class="container">
    <h1>Contacts</h1>
    <img src="http://www.gravatar.com/avatar/{{ email | gravatar }}">
    <input type="email" ng-model="email" placeholder="Email Address">
    {{ message }}
    <label>Search:  <input ng-model="search" type="text" placeholder="search"/></label>
  <div class="row">
    <div class="col-md-4">
      <form>
    <div class="form-group">
      <div class="form-group">
      <label for="exampleInputName2">First Name</label>
      <input type="text" class="form-control" id="fname" ng-model="contact.fname">
    </div>
    <div class="form-group">
      <label for="exampleInputName2">Last Name</label>
      <input type="text" class="form-control" id="lname" ng-model="contact.lname">
    </div>
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="email" ng-model="contact.email">
    </div>
    <div class="form-group">
      <label for="exampleInputName2">Phone</label>
      <input type="text" class="form-control" id="phone" ng-model="contact.phone">
    </div>
    <div class="form-group">
      <label for="exampleInputName2">Gravatar</label>
      <input type="text" class="form-control" id="gravatar" ng-model="contact.gravatar">
    </div>
    <button type="submit" class="btn btn-default" ng-click="addContact(contact)">Submit</button>
  </form>
  </div><!--end col -->
  <div class="col-md-8">
    <table class="table table-bordered">
      <thead>
      <th>
        <td class="active" ng-click="orderByField='fname'">First Name</td>
        <td class="active" ng-click="orderByField='lname'">Last Name</td>
        <td class="active" ng-click="orderByField='email'">Email address</td>
        <td class="active" ng-click="orderByField='phone'">Phone</td>
        <td class="active">Gravatar</td>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="c in contacts  | orderBy:orderByField | filter:search track by $index">
        <td></td>
        <td class="success">{{c.fname}}</td>
        <td class="success">{{c.lname}}</td>
        <td class="success">{{c.email}}</td>
        <td class="success">{{c.phone}}</td>
        <td class="active">{{c.gravatar}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
</div>
</body>

</html>
